name: CI
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Test ${{ matrix.pkg }} - Julia v${{ matrix.version }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
        os:
          - ubuntu-latest
        arch:
          - x64
        pkg:
          - StateSelection
          - ModelingToolkitTearing
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
      - name: "Test ${{ matrix.pkg }}"
        shell: julia --color=yes --check-bounds=yes --depwarn=yes {0}
        env:
          PKG_TO_TEST: ${{ matrix.pkg }}
        run: |
          using Pkg
          const PKG = ENV["PKG_TO_TEST"]
          if PKG == "StateSelection"
            @info "Testing StateSelection"
            Pkg.activate(".")
            Pkg.test()
          elseif PKG == "ModelingToolkitTearing"
            @info "Testing ModelingToolkitTearing"
            Pkg.activate("lib/ModelingToolkitTearing")
            Pkg.develop(; path = ".")
            Pkg.test()
          else
            @error "Unknown package" PKG
            exit(1)
          end
